
.term {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.word {
  display: flex;
  /*margin: 0 15px 0 15px;*/
  margin-left: min(2vw, 15px);
  margin-right: min(2vw, 15px);
}

.character {
  /*
  width: 60px;
  height: 60px;
  font-size: 2.5em;
  line-height: 60px;
  */
  width: 8vw;
  height: 8vw;
  font-size: min(3vw, 2.5em);
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 60px;
  max-height: 60px;
  border: 1px solid #bbb;
  margin: 4px;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, verdana, 'sans serif';
}


.character.background_correct:not(.const) {
  background-color: greenyellow;
}

.character.background_incorrect:not(.const) {
  background-color: lightpink;
}

.character.revealed:not(.const) {
  background-color: #B94D4D;
  color: white;
}

.character.revealed {
  color: #B94D4D;
}

.const {
  border: none;
  text-align: right;
  width: auto;
}

.selected {
  border: 2px solid orange;
}

.description, .control {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.description {
  text-align: justify;
  font-family: sans-serif;
  /*margin-bottom: 150px;*/
  margin-bottom: 270px;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#score {
  flex-grow: 1;
  text-align: center;
}

.control button {
  flex-shrink: 0;
  padding: 5px;
  width: 180px;
}

@media (max-width: 800px) {
  .control {
    flex-direction: column;
    align-items: center;
  }

  .control button {
    order: 2;
    margin-top: 10px; /* Add some space between the buttons and the text */
  }

  #score {
    order: 1;
  }
}

.nav-tabs .nav-link {
  border-color: rgb(206, 205, 205);
  margin-left: 1px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  margin-top: 20px;
}

h2 {
  font-size: medium;
}

h3 {
  margin-bottom: 20px;
  font-size: small;
}


.game_over {
  text-align: center;
  font-size: large;
}

#reference {
  text-align: left;
  font-size: smaller;
}

#loader {
  margin: 20px auto;
  text-align: center;
}

#keyboard_filler {
  /*height: 33vh;*/
  height: 200px;
}

.footer {
  padding: 7px 25px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#max_score {
  display: flex;
  align-items: center;
}